@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Y138Sy7AZXM7-pYhD6qhGAHaFJ%26pid%3DApi&f=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  // background: yellow;
}
header{
  background: #fff;
  color: grey;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .left-side{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      border-right: 1px solid grey;
    }
    .top-nav{
      .nav-container{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        div{
          cursor: pointer;
          padding: 20px;
          text-decoration: none;
          a{
            text-decoration: none;
            color: grey;
          }
          .lnr-chevron-down{
            color: grey;
            font-size: 1rem;
            margin-left: 10px;
          }
        }
         
      }
    }
    .search{
      display: flex; 
      flex-direction: row;
      align-items: center;
      .top-search{
        background: #ddd;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        border: none;
        font-weight: 200;
        color: grey;
        &:focus{
          outline: none;
        }
      }
      .lnr-magnifier{
        color: grey;
        background: #ddd;
        font-size: 1.2rem;
        padding: 8px;
        cursor: pointer;
        &:hover{
          background: rgb(238, 226, 55);
        }
      }
    }
    
  }
  .right-side{
    .store-icons{
      ul{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        li{
          cursor: pointer;
          padding: 20px;
          text-decoration: none;
          a{
            text-decoration: none;
            color: grey;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
.seasonal-notes{
  background: #ddd;
  color: #1b1b1b;
  text-align: center;
  padding: 3px;
  font-weight: 600;
}
.marquee{
  background: orangered;
  color: #fff;
  padding: 3.5px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .marquee-left{
    z-index: 3;
  }
  .marquee-middle{
    z-index: 0;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    .lnr-chevron-left{
      
      font-weight: 600;
    }
    .marquee-msg{
      padding: 0 35%;
      z-index: -1;
    }
    .lnr-chevron-right{
      
      font-weight: 600;
    }
  }
  .marquee-right:{
    z-index: 3;
  }
}