@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Y138Sy7AZXM7-pYhD6qhGAHaFJ%26pid%3DApi&f=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  // background: yellow;
}
header{
  background: #fff;
  color: grey;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .left-side{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      border-right: 1px solid grey;
    }
    .top-nav{
      ul{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;

        li{
          cursor: pointer;
          padding: 20px;
          a{

          }
        }
      }
    }
    #top-search{
      background: grey;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
    }
  }
}